* {
  font-family: "Baloo Chettan 2", cursive;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  background-color: #f7df1e;
  color: #323330;
  font-size: 3em;
  padding: 2% 0;
  text-align: center;
}
h2 {
  background-color: #323330;
  color: #f7df1e;
  padding: 2% 0;
  text-align: center;
}
#result {
  display: none;
  border-bottom: 2px solid #f7df1e;
}
.correct-border {
  /* border: 1px solid #323330;
  padding: 0 2%; 
  border-radius: 10px; */
  background-color: #61616138;
}
#questions {
  width: 100%;
  background-color: #323330;
  padding-top: 1%;
}
.quest-answ {
  margin: 0 10%;
  margin-top: 3%;
  background-color: #f7df1e;
  padding: 2%;
  /* border: 2px solid #323330; */
  border-radius: 20px;
}
.quest-answ p {
  font-size: 25px;
}
.answer {
  padding: 2% 2% 0 2%;
}
input {
  margin-right: 2%;
}
label {
  font-size: 20px;
}
#btn {
  text-align: center;
}
button {
  background-color: #f7df1e;
  margin: 2%;
  padding: 0 1%;
  font-size: 25px;
  border: 2px solid #323330;
  border-radius: 10px;
}
button:hover {
  color: #f7df1e;
  border: 2px solid #f7df1e;
  background-color: #323330;
  cursor: pointer;
}
button:active {
  cursor: grabbing;
}
